

body {
  background-color: #282c34 !important;
  color: white !important;
}

body .bg-light  {
  background-color: #23262e !important;
}

body a:hover {
  color: rgb(11, 182, 212) !important;
}

.navbar a {
  color: white !important;
}

.dropdown-toggle::after {
  color: white !important;
}

.card {
  background-color: #656b77 !important;
}

.card-header {
  background-color: #2f394d !important;
}


body .text-muted {
  color: darkgray !important;
}

body label {
  color: white !important;
}

.modal, .modal label {
  color: black !important
}

.TOS {
  padding: 2%;
}

.account-link {
  position: absolute;
  right: 1%;
  top: 1%;
  font-size: 20px;
  background-color: inherit;
  text-align: right;
}

.navbar-collapse {
  margin-left: 35%;
}


.user-photo {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden; 
  border: 2px solid rgba(11, 155, 212, 0.8);
  background-color: white;
}

.update-photo {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.profile-photo {
  height: 130px;
  width: 130px;
  cursor: pointer;
}

.user-photo img {
  width: 100%;
}

.upload-spinner {
  margin-left: 40%;
  margin-top: 40%;
}

.logo {
  margin-left: 1%;
}

.logo img {
  height: 4rem;
  
}

.App .account-link h5 {
  color: white;
}

.App .account-link a,
.demo-sample .account-link a {
  position: absolute;
  right: 0;
}


.demo-sample {
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: #282c34; */
}

.sample-card {
    height: 35rem;
    width: 40rem;
    margin-top: 10%;
    margin-left: 35%;  
    box-shadow: 10px 8px 15px 0 rgba(0,0,0,0.2);
}

.sample-card .card-body {
    position: relative;
    overflow: hidden;
}


.sample-card .button-area {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.sample-card .footer-links {
    position: absolute;
    right: 0;
    display: inline-flex;
    width: 25%;
}

.sample-card a {
    margin-left: 15%;
}


/* ASSIGNMENT PAGE */

.assignment-content {
  width: 100%;
  padding: 1%;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.assignment-content .centered-button {
  text-align: center;
  padding: 3%;
}

.assignment-content a:hover {
  cursor: pointer;
}

.assignment-content .custom-control {
  vertical-align: middle;
  position: relative;
  top: 50%;
  text-align: center;
}

.assignment-content .card-body p {
  margin-bottom: 3%;
}

.assignment-sidebar {
  width: 20%;
  height: 100%;
  position: relative;
}

.assignment-sidebar .row {
  margin-bottom: 5%;
}

.assignment-sidebar .card {
  height: 51rem;
  width: 95%;
}

.assignment-sidebar .card-body {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}

.assignment-sidebar .scroll-area {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.assignment-sidebar .sidebar-card {
  height: 7rem;
  font-size: 0.75rem;
  top: 0;
  margin-bottom: 5%;
  box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transition: top ease 0.5s, box-shadow ease 0.5s;
}

.assignment-sidebar .item-selected {
  box-shadow: 4px 6px 15px 4px rgba(34, 62, 223, 0.5);
}

.assignment-sidebar .item-selected:hover {
  top: -10px;
  box-shadow: 8px 8px 15px 8px  rgba(34, 62, 223, 0.5) !important;
}

.assignment-sidebar .sidebar-card:hover {
  top: -10px;
  box-shadow: 10px 10px 10px  rgba(0,0,0,0.2);
}

.assignment-sidebar .sidebar-card .card-body {
  overflow: hidden;
}


.assignment-middle {
  width: 55%;
  height: 100%;
  padding: 1%;
}
.assignment-middle .title {
  overflow: hidden;
}

.assignment-middle button {
  margin-left: 2%;
}

.assignment-general {
  width: 100%;
  height: 60%;
  padding: 1%;
}

.assignment-comments {
  width: 100%;
  height: 40%;
  padding: 1%;
}

.assignment-info {
  width: 25%;
  height: 100%;
  padding: 1%;
  position: relative;
  overflow: hidden;
}

.assignment-info .row {
  margin-bottom: 5%;
}

.assignment-info .scroll-area {
  height: 51rem;
  position: relative;
  overflow: hidden;
}

.assignment-info .card-header {
  position: relative;
  transition-delay: 1s;
}

.assignment-info .card-header:hover {
  cursor: pointer;
  background: #0F56A5;
  background: -moz-linear-gradient(top, #a3d1bd 0%, #0F56A5 100%);
  background: -webkit-linear-gradient(top, #a3d1bd 0%, #0F56A5 100%);
  background: linear-gradient(to bottom, #a3d1bd 0%, #0F56A5 100%);
}

.assignment-info .status-card {
  margin-bottom: 5%;
}

.assignment-info .subtask-card {
  margin-bottom: 5%;
  position: relative;
}


.subtask-card .subtask-item {
  height: 7rem;
  font-size: 0.70rem;
  top: 0;
  margin-bottom: 5%;
  box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transition: top ease 0.5s, box-shadow ease 0.5s;
}

.subtask-card .item-selected {
  box-shadow: 4px 6px 15px 4px rgba(141, 21, 115, 0.5);
}

.subtask-card .item-selected:hover {
  top: -10px;
  box-shadow: 8px 10px 12px 8px rgba(141, 21, 115, 0.5) !important;
}

.subtask-card .subtask-item:hover {
  top: -10px;
  box-shadow: 10px 10px 10px  rgba(0,0,0,0.2);
  
}

.subtask-card .subtask-item .card-header:hover {
  background: none;
}

.subtask-card .subtask-item .card-body {
  overflow: hidden;
}



.assignment-info .collaborator-card {
  margin-bottom: 5%;
}


.collaborator-card .collaborator-item {
  height: 5rem;
  width: 95%;
  font-size: 0.70rem;
  top: 0;
  margin-bottom: 5%;
  box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.2);
  
}

.collaborator-card .collaborator-item .card-body {
  display: inline-flex;
  position: relative;
  padding: 4%;
}

.collaborator-card .collaborator-item .avatar {
  height: 100%;
  width: 20%;
  position: relative;
  
}

.collaborator-card .collaborator-item .info {
  height: 100%;
  width: 60%;
  position: relative;
}

.collaborator-card .collaborator-item .options {
  height: 100%;
  width: 20%;
  position: relative;
}

.collaborator-card .collaborator-item .options span {
  top: 25%;
  position: relative;
}



/* COMMENTS SECTION */

.assignment-comments {
  position: relative;
  overflow: hidden;
  height: 100%;;
}

.assignment-comments .scroll-comments {
  position: relative;
  overflow: hidden;
  height: 18rem;
  margin-bottom: 1%;
  padding: 2%;
  text-align: center;
}

.assignment-comments .scroll-comments h5 {
  position: relative;
  top: 40%;
}


.assignment-comments .comment-item {
  width: 100%;
  margin-bottom: 1%;
  text-align: left;
}

.assignment-comments .comment-item label {
  font-size: 0.8rem;
}

.assignment-comments .comment-item .card-body {
  display: inline-flex;
  padding: 1%;
}

.assignment-comments .comment-item .avatar {
  width: 10%;
  height: 100%;
  display: inline-flex;
}

.assignment-comments .comment-item .avatar .user-photo {
  margin-top: 5%;
}

.assignment-comments .comment-item .content {
  width: 70%;
  height: 100%;
}

.assignment-comments .comment-item .options {
  width: 20%;
  height: 100%;
}

.assignment-comments .comment-item .options .button-icons {
  text-align: center;
}

.assignment-comments .comment-item .options .button-icons img {
  height: 25px;
  width: 25px;
  margin-left: 10%;
  margin-top: 15%;
  cursor: pointer;
}

.assignment-comments button {
  position: relative;
  top: 20%;
}

/* FILES SECTION */


.assignment-files {
  position: relative;
  padding: 1%;
}

.assignment-files .row {
  padding: 3%;
}

.assignment-files .btn {
  margin-right: 1%;
}

.assignment-files .content {
  height: 21rem;
  width: 100%;
  padding: 2%;
  position: relative;
  box-shadow: -4px -4px 30px 4px rgba(11, 155, 212, 0.5) inset;
}

.assignment-files .content h5 {
  position: relative;
  top: 40%;
  text-align: center;
  cursor: pointer;
  transition: color ease 1s;
}

.assignment-files .content h5:hover {
  color: #e14eca !important;
}

.assignment-files .content .file-item {
  display: inline-block;
  width: 8rem;
  font-size: 0.8rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2%;
  white-space: nowrap;
  text-align: center;
}

.assignment-files .content .new-file {
  font-weight: 800;
  color: cornflowerblue;
  cursor: pointer;
}


.assignment-files .content img {
  height: 5rem;
  width: 5rem;
  margin-left: 20%;
  margin-bottom: 5%;
  cursor: pointer;
  position: relative;
  top: 0;
  display: block;
  filter: drop-shadow(10px 10px 4px black);
  transition: top ease 0.5s, filter ease 0.5s
}


.assignment-files .content img:hover {
  top: -5px;
  filter: drop-shadow(15px 15px 4px black);
}

.assignment-files .content label {
  display: block;
  width: 100%;
  overflow: hidden;
}

.assignment-files .content .upload-spinner {
  position: relative;
  bottom: 30%;
}

/* PROFILE PAGE */

.profile-page {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

.profile-page .sidenav {
  width: 15%;
  height: 45rem;
  margin-left: 1%;
  margin-top: 1%;
  margin-right: 1%;
  border-radius: 1%;
  position: relative;
  background:  #656b77;
  overflow-x: hidden;
  padding: 8px 0;
  box-shadow: 4px 4px 30px 4px black;
}

.profile-page .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.profile-page .sidenav a:hover {
  color: #064579;
}

.profile-page .content {
  height: 45rem;
  width: 100%;
  position: relative;
  padding: 2%;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1) inset;
}

.profile-page .profile .update-photo {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.profile-page .profile .upload-spinner {
  position: relative;
  text-align: center;
  right: 20%;
}

.col-photo {
  text-align: center;
}

.profile-page .notifications {
  position: relative
}


.profile-page .notifications .requests .scroll-area {
  height: 15rem;
  padding: 2%;
  position: relative;
  overflow: hidden;
  margin-right: 40%;
  margin-bottom: 3%;
  box-shadow: -4px -4px 30px 4px rgba(11, 155, 212, 0.5);
}

.profile-page .notifications .notification-area .scroll-area {
  height: 20rem;
  padding: 2%;
  position: relative;
  overflow: hidden;
  margin-right: 40%;
  box-shadow: -4px -4px 30px 4px rgba(11, 155, 212, 0.5);
}

.profile-page .notifications .request-card {
  border-left: none;
  border-right: none;
  margin-bottom: 1%;
}

.profile-page .notifications .request-card .card-body {
  display: inline-flex;
  padding: 1%;

}

.profile-page .notifications .request-card .request-content {
  width: 75%;
  position: relative;
  top: 20%;
}

.profile-page .notifications .request-card .request-content p {
  margin-top: 1%;
}

.profile-page .notifications .request-card .options {
  width: 20%;
  margin-left: 5%;
}

.profile-page .notifications .request-card .options button {
  position: relative;
  top: 40%;
  margin: 1%;
}

.profile-page .notifications .notification-card {
  margin-bottom: 2%;
}

.profile-page .notifications .notification-card .card-header span {
  position: absolute;
  right: 2%;
}

.profile-page .notifications .notification-card .card-body {
  display: inline-flex;
  padding: 1%;

}

.profile-page .notifications .notification-card .notification-content {
  width: 80%;
  position: relative;
  top: 20%;
  margin-left: 5%;
}

.profile-page .notifications .notification-card .options {
  width: 15%;
  text-align: center;
}

/* SEARCH PAGE */

.search-page {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.search-page .search-card {
  margin-bottom: 2%;
  box-shadow: 5px 5px 20px 0 rgba(11, 155, 212, 0.8);
}

.search-page .search-card .col-button {
  text-align: center;
}

.search-page .search-card .col-button button {
  position: relative;
  top: 40%;
}

.search-page .query-table {
  position: relative;
}

.search-page .query-table .jumbotron {
  margin-top: 1%;
  max-height: 30rem;
  position: relative;
  overflow: hidden;
  background-color: #3c6ca3;
}

.search-page .query-table .container-fluid {
  background-color: aliceblue;
}



.search-page .query-table tr {
  cursor: pointer;
}

.search-page .query-table td {
  max-width: 5rem;
  overflow: hidden;
}

.search-page .query-table .row-selected {
  background-color: lightseagreen;
}


/* HOME PAGE */


.q1-label {
  margin-left: 10%;
}

.open-assignments {
  width: 80%;
  height: 23rem;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  /* background: #0F56A5;
  background: -moz-linear-gradient(to right, #a3d1bd 0%, #2e72be 100%);
  background: -webkit-linear-gradient(to right, #a3d1bd 0%, #2e72be 100%);
  background: linear-gradient(to right, #a3d1bd 0%, #2e72be 100%); */
  box-shadow: 5px 5px 20px 5px rgba(11, 155, 212, 0.8) ;
  position: relative;
  display: inline-flex;
}

.select-assignments {
  width: 67%;
  height: 90%;
  margin-right: 1%;
  position: relative;
  display: inline-flex;
  overflow-x: hidden;
}

.select-next, .select-previous {
  font-size: 80px;
  margin-left: 1%;
  color: #5e72e4;
  position: relative;
  top: 20%;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: top ease 0.5s, color ease 1s;
}

.select-next:hover, .select-previous:hover {
  top: 19%;
  color: #e14eca;
}

.assignment-card {
  position: relative;
  display: inline-flex !important;
  height: 17rem;
  width: 20rem !important;
  min-width: auto !important;
  margin-top: 3%; 
  margin-left: 5%;
  top: 0;
  box-shadow: 8px 8px 15px 0 rgba(11, 155, 212, 0.8);
  color: white;
  background: #0F56A5 !important;
  background: -moz-linear-gradient(top, #a3d1bd 0%, #0F56A5 100%) !important;
  background: -webkit-linear-gradient(top, #a3d1bd 0%, #0F56A5 100%) !important;
  background: linear-gradient(to bottom, #a3d1bd 0%, #0F56A5 100%) !important;
  cursor: pointer;
  transition: top ease 0.5s, box-shadow ease 0.5s;
}


.assignment-card .card-header {
  background-color:  #5a799c !important;
}

.assignment-card .card-body {
  overflow: hidden;
}

.assignment-card .card-body {
  width: inherit;
}

.assignment-card:hover {
  top: -10px;
  box-shadow: 15px 15px 15px  rgba(11, 155, 212, 0.8);
}

.new-assignment {
  display: inline-flex;
  height: 90%;
  position: relative;
}

.create-new {
  text-align: center;
  font: small-caps bold 14px/30px Arial, sans-serif;
  margin-left: 2%;
  margin-top: 8%;
}


.create-new img {
  height: 75%;
  width: 100%;
}

.jumbotron {
  background-color: #282c34 !important;
  box-shadow: 5px 5px 20px 5px rgba(11, 155, 212, 0.8) ;
}


/* CUSTOM SECTION - LOGIN PAGE */


.main-login {
  background-image: url('/images/login-img.jpg');
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.main-login label {
  color: black !important;
}


.main-login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #4a8af1;
  background: -webkit-linear-gradient(0deg,  #005bea, grey);
  background: -o-linear-gradient(0deg,#005bea, grey);
  background: -moz-linear-gradient(0deg, #005bea, grey);
  background: linear-gradient(0deg,#005bea, grey);
  opacity: 0.5;
}

.main-login .login-form {
  width: 20%;
}



.main-login .login-logo {
  height: 15rem;
  width: 35rem;
  display: block;
  position: absolute;
  top: 3%;
  margin-bottom: 3%;
}



.main-login .login-logo img {
  height: 100%;
  object-fit: cover;
}

.main-login .login-options {
  line-height: 1.4;
  position: absolute;
  top: 30%;
  margin-left: 5%;
  text-align: center;
  
}

.main-login .login-options a {
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  font-weight: 600;
  color: #cccccc;
  display: block;
  margin-bottom: 2%;
}

.main-login .login-options a:hover {
  color:  #005bea;
}

@media screen and (max-width: 1500px) {
  .main-login .login-form {
    width: 100%;
  }
  .main-login .login-logo {
    height: 13rem;
    width: 95%;
    text-align: center;
  }

  .main-login .login-options {
    margin-left: 30%;
  }

  .main-login .sign-up {
    margin-top: 60% !important;
  }

}

.main-login #firebaseui_container {
  margin-top: 45%;
}

.main-login .sign-up {
  margin-top: 55% !important;
}

.main-login .sign-up .row {
  margin-bottom: 1%
}

.sign-up .mdl-card {
  padding: 5%;
  
}

.sign-up .firebaseui-id-submit {
  margin-top: 10%;
  margin-bottom: 10%;
}





/*
 * Scrollbar rail styles
 */
 .ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    height: 15px;
    /* there must be 'bottom' or 'top' for ps__rail-x */
    bottom: 0px;
    /* please don't change 'position' */
    position: absolute; }
  
  .ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    width: 15px;
    /* there must be 'right' or 'left' for ps__rail-y */
    right: 0px;
    /* please don't change 'position' */
    position: absolute; }
  
  .ps--active-x > .ps__rail-x,
  .ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent; }
  
  .ps:hover > .ps__rail-x,
  .ps:hover > .ps__rail-y,
  .ps--focus > .ps__rail-x,
  .ps--focus > .ps__rail-y,
  .ps--scrolling-x > .ps__rail-x,
  .ps--scrolling-y > .ps__rail-y {
    opacity: 0.6; }
  
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: #eee;
    opacity: 0.9; }
  
  /*
   * Scrollbar thumb styles
   */
  .ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
    height: 6px;
    /* there must be 'bottom' for ps__thumb-x */
    bottom: 2px;
    /* please don't change 'position' */
    position: absolute; }
  
  .ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px;
    /* there must be 'right' for ps__thumb-y */
    right: 2px;
    /* please don't change 'position' */
    position: absolute; }
  
  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #999;
    height: 11px; }
  
  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #999;
    width: 11px; }